.body{
    padding-left: 52px;
}

.head{
    margin-top: 66px;
    margin-left: 52px;
}

.logo{
    display: inline-block;
}

.link{
    color: #8D81FF;
    font-weight: 700;
    font-size: 26px;
    display: inline-block;
    vertical-align: top;
    margin-left: 81px;
}

.day{
    background: #5012D5;
    width: 50px;
    height: 50px;
    font-size: 24px;
    font-weight: 400;
    color: #84FF81;
    text-align: center;
    margin-top: 70px;
    padding-top: 8px;
}

.month{
    color: #8D81FF;
    /* font-family: "BPG Nino Mkhedruli";
    /* font-style: italic; */
    font-weight: 400;
    font-size: 32px;
    margin-top: 18px;
    font-family: "BPG Nino Mkhedruli", sans-serif;

}

.title{
    color:#4E6FAE;
    margin-top: 8px;
    size: 20px;
    font-family: "BPG Glaho WEB Caps", sans-serif;


}

.text{
    color: #4E6FAE;
    size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 778px;
    height: 353px;
    margin-top: 13px;
    margin-left: 66px;
    font-family: "BPG QuadroSquare Mtavruli", sans-serif;


}

.text2{
    color: #4E6FAE;
    size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 778px;
    height: 280px;
    margin-top: 13px;
    margin-left: 66px;
    margin-bottom: 50px;
    font-family: "BPG QuadroSquare Mtavruli", sans-serif;

}

.text3{
    color: #4E6FAE;
    size: 16px;
    vertical-align: top;
    width: 1021px;
    height: 148px;
    margin-top: 32px;
    font-family: "BPG QuadroSquare Mtavruli", sans-serif;

}

.icon{
    margin-top: 145px;
}


.conteiner{
    width:1052px;
    /* height: 462px; */
    margin: 0 auto;
    margin-top: 97px;
}

h1{
    color: #4E6FAE;
    font-size: 26px;
    font-weight: 700;
    display: inline-block;
    /* width: 150px; */
    height: 34px;
    
}

h2{
    color: #4E6FAE;
    font-size: 26px;
    font-weight: 400;
    display: inline-block;
    height: 34px;
    width: 484px;
}

.box{
    background-color: #E7E7E7;
    width: 500px;
    height: 192px;
    margin-top: 26px;
    display: inline-block;
    margin-bottom: 93px;

    
}

.boxtitle{
    color:  #3F4145;
    size: 20px;
    padding-top: 21px;
    padding-left: 23px;
    padding-right: 70px;
}

.boximg{
    /* width: 77px;
    height: 77px; */
    padding-left: 36px;
    padding-top: 30px;
    /* padding-right: 387px; */
    padding-bottom: 30px;
    display: inline-block;
}

.boxtext{
    color: #7E8898;
    width: 300px;
    height: 75px;
    size: 20px;
    display: inline-block;
    margin-left: 37px;
    /* margin-top: 30px;
    margin-bottom: 30px; */
    /* text-align: left; */
    /* padding-top: 30px;
    padding-bottom: 30px; */
    line-height: 18.75px;
    vertical-align: bottom;
    padding-bottom: 110px;
    font-family: "Roboto Condensed", sans-serif;
}

.box1{
    background-color: #E7E7E7;
    width: 500px;
    height: 192px;
    margin-top: 26px;
    margin-bottom: 93px;
    display: inline-block;
    vertical-align: top;
    margin-left: 32px;
}

.boxtitle2{
    color:  #3F4145;
    size: 20px;
    padding-top: 21px;
    padding-left: 23px;
    padding-right: 90px;
}

.boxpage3{
    width: 100%;
    height: 735px;
    background-color: #E7E7E7;
    margin-top: 43px;
    
}

.section2{
    display: inline-block; 
    padding-left: 162px;
    vertical-align: top;
    /* margin-top: 93px; */
    /* padding: 93px, 1024px, 455px 162px; */
}

.pg{
    font-family: Helvetica Neue;
    font-size: 27px;
    font-weight: 700;
    line-height: 43.96px;
    text-align: left;
    color:#4E6FAE;
    width: 474px;
    height: 34px;
    padding-top: 93px;
    
}

.map{
    text-align: top;
    display: inline-block;
    width: 404px;
    height: 309px;
    padding-top: 93px;
}

.photomap{
    width: 804px;
    height: 509px;
}

.icon3{
    margin-left: 96px;
    margin-top: 104px;
}